<form action="/addSubject" method="post">
  <input type="text" name="name" id="name" placeholder="Subject name" />
  <input
    type="text"
    name="description"
    id="description"
    placeholder="description"
  />

  <input type="submit" value="ADD SUBJECT" />
</form>
