<% layout('layout')%>

<section class="login-section">
  <header class="login-header">
    <a href="/" class="login-logo container">UTS</a>
  </header>
  <div class="login-div">
    <form>
      <fieldset class="login-form">
        <legend><h1>Admin Login</h1></legend>
        <div class="login-control">
          <label for="username">Username</label>
          <input type="text" placeholder="Username" />
        </div>

        <div class="login-control">
          <label for="username">Password</label>
          <input type="text" placeholder="Password" />
        </div>

        <input type="submit" value="Login" class="login-submit" />
      </fieldset>
    </form>
  </div>
</section>
