<% layout('layout')%>

<section class="register-section">
  <header class="login-header">
    <a href="/" class="login-logo container">UTS</a>
  </header>

  <form action="/register" method="post"></form>
</section>
