<% layout('layout')%>
<div>
  <header class="login-header">
    <a href="/" class="login-logo container">UTS</a>
  </header>
  <div class="container">
    <h1>We recommend the following courses &darr;</h1>
    <ul>
        <% for(let i=0; i<recommendedCourses.length; i++){ %>
            <li><%= recommendedCourses[i] %></li>
        <% } %>
    </ul>
    
  </div>
</div>
